body {
    font-family: 'Glacial Indifference', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('pop5.jpg');
    background-size: cover;
    background-position: center;
    color: #333;
    transition: background-image 0.5s ease-in-out;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
}

.form {
    display: none; 
}

.form.login {
    display: block; 
}

.form.register {
    display: none; 
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input {
    margin-bottom: 15px;
}

.input label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #555;
}

.switch {
    text-align: center;
    margin-top: 20px;
}

.switch a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.switch a:hover {
    text-decoration: underline;
}

.title {
    text-align: center;
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 36px;
    color: white;
    margin-bottom: 30px;
    transition: color 0.3s;
}

.title:hover {
    color: red;
}
